src/index.jade
include ./jade-variables/labels.jade
include ./jade-mixins/picker.jade

doctype html
head
   title YLab
   link(href="styles/normalize.css" rel="stylesheet")
   link(href="styles/style.css" rel="stylesheet")
   link(href="styles/css.css" rel="stylesheet" type="text/css")
   link(href="styles/neris.css" rel="stylesheet")
   link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=cyrillic', rel='stylesheet', type='text/css')
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
   div.container
      div.modal
          div.header.header_modal
              h3.header__label.header__label_modal Добавление новости
              div.header__exit.header__exit_modal
          div.main.main_modal
              div.labels-set
                  h5.labels-set__label Метки
                  span.labels-set__placeholder Перечислите темы записи через пробел
              +picker()
              +picker('picker_closed','header__exit_closed','main_closed')

public/index.html
<!DOCTYPE html><head><title>YLab</title><link href="styles/normalize.css" rel="stylesheet"><link href="styles/style.css" rel="stylesheet"><link href="styles/css.css" rel="stylesheet" type="text/css"><link href="styles/neris.css" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&amp;subset=cyrillic" rel="stylesheet" type="text/css"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head><body><div class="container"><div class="modal"><div class="header header_modal"><h3 class="header__label header__label_modal">Добавление новости</h3><div class="header__exit header__exit_modal"></div></div><div class="main main_modal"><div class="labels-set"><h5 class="labels-set__label">Метки</h5><span class="labels-set__placeholder">Перечислите темы записи через пробел</span></div><div class="label-picker"><div class="header header_picker"><h3 class="header__label header__label_picker">Выберите тему</h3><div class="header__exit header__exit_picker"></div></div><div class="main main_picker"><ul class="label-picker__list"><li class="label-picker__item">Дом</li><li class="label-picker__item">Техническое состояние</li><li class="label-picker__item">Электроснабжение</li><li class="label-picker__item">Лифт</li><li class="label-picker__item">Антенна</li><li class="label-picker__item">Домофон</li><li class="label-picker__item">Капремонт</li><li class="label-picker__item">Дератизация</li><li class="label-picker__item">Домашние животные</li><li class="label-picker__item">Соседи</li><li class="label-picker__item">Центральное отопление</li><li class="label-picker__item">Уборка, состояние подъезда</li><li class="label-picker__item">Водоснабжение</li><li class="label-picker__item">Канализация</li><li class="label-picker__item">Кабельные сети</li><li class="label-picker__item">Наркотики, распространение</li><li class="label-picker__item">Нарушения прав человека</li><li class="label-picker__item">Нарушения общественного порядка</li><li class="label-picker__item">Незаконная торговля</li><li class="label-picker__item">Двор, городское хозяйство</li><li class="label-picker__item">Освещение двора</li><li class="label-picker__item">Открытые люки</li><li class="label-picker__item">Вывоз мусора, нелегальные свалки.</li><li class="label-picker__item">Градостр-во и землепользование</li><li class="label-picker__item">Энергосбережение</li><li class="label-picker__item">Граффити</li><li class="label-picker__item">Парковки</li><li class="label-picker__item">Зеленые насаждения</li><li class="label-picker__item">Капремонт</li><li class="label-picker__item">Благоустройство двора</li></ul></div></div><div class="label-picker picker_closed"><div class="header header_picker"><h3 class="header__label header__label_picker">Выберите тему</h3><div class="header__exit header__exit_picker header__exit_closed"></div></div><div class="main main_picker main_closed"><ul class="label-picker__list"><li class="label-picker__item">Дом</li><li class="label-picker__item">Техническое состояние</li><li class="label-picker__item">Электроснабжение</li><li class="label-picker__item">Лифт</li><li class="label-picker__item">Антенна</li><li class="label-picker__item">Домофон</li><li class="label-picker__item">Капремонт</li><li class="label-picker__item">Дератизация</li><li class="label-picker__item">Домашние животные</li><li class="label-picker__item">Соседи</li><li class="label-picker__item">Центральное отопление</li><li class="label-picker__item">Уборка, состояние подъезда</li><li class="label-picker__item">Водоснабжение</li><li class="label-picker__item">Канализация</li><li class="label-picker__item">Кабельные сети</li><li class="label-picker__item">Наркотики, распространение</li><li class="label-picker__item">Нарушения прав человека</li><li class="label-picker__item">Нарушения общественного порядка</li><li class="label-picker__item">Незаконная торговля</li><li class="label-picker__item">Двор, городское хозяйство</li><li class="label-picker__item">Освещение двора</li><li class="label-picker__item">Открытые люки</li><li class="label-picker__item">Вывоз мусора, нелегальные свалки.</li><li class="label-picker__item">Градостр-во и землепользование</li><li class="label-picker__item">Энергосбережение</li><li class="label-picker__item">Граффити</li><li class="label-picker__item">Парковки</li><li class="label-picker__item">Зеленые насаждения</li><li class="label-picker__item">Капремонт</li><li class="label-picker__item">Благоустройство двора</li></ul></div></div></div></div></div></body>
